<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Detail-oriented, organized and meticulous problem-solver. Dedicated in delivering solutions that last. Enthusiastic team player ready to contribute to company success.</p>
      </div>
      <div class="col-lg-4">
        <p>Currently interested in machine learning, its fast pace of growth, as well as its domination over the world of automation and the emergent effects that result from that. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <!--<a href="../GABRIEL_SAKALI_CV.pdf" target="_blank" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download CV
        </a>-->
      </div>
    </div>
  </div>
</section>
